ul {
    padding-left: 20px;
    list-style: none;
}

li {
    margin-bottom: 10px;
}

li:before {
    visibility: hidden;
    margin: 0 5px 0 -15px;
}

.glyphicon-none:before {
    content: "\2122";
    color: transparent !important;
}